<div id="main" class="main">
<div id="howtoplay" class="howtoplay"></div>
<canvas id="canvas" width="480" height="320"></canvas>
	<div id="title" class="title">Critical Mass</div>
	<div id="subtitle" class="subtitle"></div>
	<div id="postscore" class="postscore">high scores</div>
	<div id="play" class="play">play</div>
	<div id="info" class="info">about</div>
	<div id="roundStart" class="roundStart">start</div>
	<div id="roundScore" class="roundScore"></div>
	<div id="gameScore" class="gameScore"></div>
	<div id="ballCount" class="ballCount"></div>
	<div id="hichScore" class="hichScore"></div>
	<div id="roundResume" class="roundResume">resume last game</div>
	<div id="overlay" class="overlay"></div>
	<div id="mainMenu" class="mainMenu">main menu</div>
	<div id="newGame" class="newGame">new game</div>
	<div id="leaderboard" class="leaderboard">leaderboard</div>
	<div id="postHighScore" class="postHighScore">submit high score</div>
	<div id="score1" class="score"></div>
	<div id="score2" class="score"></div>
	<div id="score3" class="score"></div>
	<div id="score4" class="score"></div>
	<div id="score5" class="score"></div>
	<div id="score6" class="score"></div>
	<div id="score7" class="score"></div>
	<div id="score8" class="score"></div>
	<div id="score9" class="score"></div>
	<div id="score10" class="score"></div>
	<div id="score11" class="score"></div>
	<div id="score12" class="score"></div>
	<div id="score13" class="score"></div>
	<div id="score14" class="score"></div>
	<div id="score15" class="score"></div>
	<div id="score16" class="score"></div>
	<div id="score17" class="score"></div>
	<div id="score18" class="score"></div>
	<div id="score19" class="score"></div>
	<div id="score20" class="score"></div>
	<div id="score21" class="score"></div>
	<div id="score22" class="score"></div>
	<div id="score23" class="score"></div>
	<div id="score24" class="score"></div>
	<div id="score25" class="score"></div>
	<div id="score26" class="score"></div>
	<div id="score27" class="score"></div>
	<div id="score28" class="score"></div>
	<div id="score29" class="score"></div>
	<div id="score30" class="score"></div>
</div>