<div id="postContainer" class="postContainer">
<div id="instructions" class="instructions">Enter a name for your score to be added to the scoreboard.  Letters and numbers only please, all other
characters will be removed. No spaces either.  For the time being the name that you choose is permanent, but 
can be changed in a future update.</div>
<div id="dispName" class="dispName"></div>
<div x-mojo-element="TextField" id="username" class="usernametextfield" name="username">
</div>
<div id="submit" class="buttonSubmit">submit</div>   
<div id="responseText" class="responseText"></div>
<div id="bottomurl" class="bottomurl"><a href="http://m.scoreboard.alexhaefner.com">Tap to go to scoreboard</a></div>
</div>