
	<div id="infoLay" class="infoLay"><div id="infoTitle" class="infoTitle">Critical Mass 
	by 
	Alex Haefner</div>
	 <div id="infoContent">Available under the open source MIT License.  The unpackaged code can be downloaded @ Alex Haefner's website.  Additionally, to provide feedback, comments, and to keep
		 up on other free and open source apps, visit <a id="theLink">alexhaefner.com</a>. <a href="mailto:feedback@alexhaefner.com">Email Alex Haefner</a>.</div>
	<div id="goBack" class="infoBack">go back</div>
	</div>